<h1>Yield Curve</h1>
<h2>Difference between 5 and 3 year US Government Bonds</h2>
<h2>Inverted: <span id="invertedIndicator">Loading...</span></h2>
<div id="chart1"></div>
<div class="explainer">
  <h2>WTF does it mean?</h2>
  <p>The yield curve is the spread between long term government bonds and short term government bonds. Typically, the
    longer these bonds take to mature (pay back the investors), the more risk is involved for the investors so the
    yield is higher.
    </br>
    </br>
    When the curve inverts, short term bonds have greater yields for investors than long term bonds. This suggests
    investors believe the economy is a better investment in the short term than the long term.
    </br>
    </br>
    Many people believe that an inverted yield curve is a strong indication of a recession in the next few years,
    however this is a highly disputed point.</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  $.get('/data', function (yields) {
    if (yields[yields.length - 1].value < 0) {
      $("#invertedIndicator").text("Yes")
    } else {
      $("#invertedIndicator").text("No")
    }

    var chartData = []
    for (var i = 0; i < yields.length; i++) {
      chartData.push([yields[i].time, yields[i].value])
    }

    var options = {
      chart: {
        type: 'area',
        stacked: false,
        height: 350,
        zoom: {
          type: 'x',
          enabled: false,
          autoScaleYaxis: true
        },
        toolbar: {
          show: false
        }
      },
      stroke: {
        show: true,
        colors: ['#1DA1F2'],
        width: [2]
      },
      dataLabels: {
        enabled: false
      },
      series: [{
        data: chartData
      }],
      markers: {
        size: 0,
      },
      fill: {
        type: 'gradient',
        gradient: {
          shadeIntensity: 1,
          inverseColors: false,
          opacityFrom: 1,
          opacityTo: 1,
        },
      },
      yaxis: {
        labels: {
          formatter: function (val) {
            return val.toFixed(2);
          },
        },
        title: {
          text: 'Yield (5 - 3 year)'
        },
      },
      xaxis: {
        type: 'datetime',
      }
    }
    var chart = new ApexCharts(
      document.querySelector("#chart1"),
      options
    );
    chart.render();
  })
</script>