<!doctype html>

<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146366707-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-146366707-1');
  </script>

  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/styles/main.css'>
  <link rel='shortcut icon' href='/imgs/favicon.ico' />
</head>

<body>
  <div id="content">
    {{{body}}}
  </div>
  <footer>
    <div class="powered"><a href="https://foresight.app">Powered by Foresight <img src="/imgs/logo.png" /></a></div>
  </footer>
</body>

</html>